@import 'bootstrap/scss/bootstrap';

html,
body,
#app {
    height: 100%;
}

.ProseMirror:focus {
    outline: none;
}


.tiptap-editor {
    border: 1px solid black;
    border-radius: 10px;
}

.active-page-number {
    font-weight: 800;
}